<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Header Fragments-->
<div th:replace =~{common/header::header}></div>
<body>
    <!-- NAVBAR -->
    <div th:replace =~{common/navbar::navbar}></div>

    <!-- SIDEBAR -->
    <div th:replace =~{common/sidebar::sidebar}></div>

    <!-- MAIN CONTENT -->
    <div class="main-content">

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h3>Assign Task To User</h3>
                <p class="text-muted">Fill the form for task assign</p>
            </div>
            <div>
                <a class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="" th:href="@{/task/list}">
                    <i class="bi bi-list-ol bg-success text-white p-2 "> <span class="mx-1"> Task List </span> </i>
                </a>
            </div>
        </div>


        <!-- FORM -->
        <div class="py-4">
            <div class="container-md mx-auto">
                <form th:action="@{/task/assign}" th:object="${taskAssignData}" method="post" role="form" class="border border-dark p-4">
                    <div class="row">
                        <p th:text="${taskDto.name}" style="background: #3c79a7; padding: 13px; color: #ffffff; box-shadow: aqua;"></p>
                        <input  type="hidden" name="task_id" th:field="*{taskId}" class="form-control" id="task_id">

                        <div class="col">
                            <div class="mb-3">
                                <label for="userId" class="form-label">User</label>
                                <select class="form-select" id="userId" name="userId" aria-label="Default select example">
                                    <option >Select Assignee</option>
                                    <option  th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="mb-3">
                                <label for="teamLeadId" class="form-label">Team Lead</label>
                                <select class="form-select" id="teamLeadId" name="teamLeadId" aria-label="Default select example">
                                    <option >SELECT TEAM LEAD</option>
                                    <option th:each="tl : ${tls}" th:value="${tl.id}" th:text="${tl.name}" ></option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" name="description" th:field="*{description}" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>

                    <div>
                        <div class="text-end mt-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-save  text-white p-2 "> <span class="mx-1"> Assign Task </span> </i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </footer>

</body>
</html>
