<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Header Fragments-->
<div th:replace =~{common/header::header}></div>
<body>
    <!-- NAVBAR -->
    <div th:replace =~{common/navbar::navbar}></div>
    <!-- SIDEBAR -->
    <div th:replace =~{common/sidebar::sidebar}></div>

    <!-- MAIN CONTENT -->
    <div class="main-content" style="overflow: hidden;">
        <h3>Dashboard</h3>
        <p class="text-muted">Dashboard overview</p>

        <!--ADMIN DASHBOARD CARDS -->
        <div class="row g-3" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/user/list}">
                    <div class="card shadow-sm" style="background: #071754b3; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-primary">
                                <i class="bi bi-people text-white"></i>
                            </div>
                            <h6>Users</h6>
                            <h4 th:text="${dashboard.totalUsers}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/task/list}">
                    <div class="card shadow-sm" style="background: #134653b8; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-success">
                                <i class="bi bi-list-task text-white"></i>
                            </div>
                            <h6>Task</h6>
                            <h4 th:text="${dashboard.totalTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">

                <a class="text-decoration-none" th:href="@{/task/list?status=ACTIVE}">
                    <div class="card shadow-sm" style="background: #4987c4e8; color:white">
                        <div class="card-body text-center">
                            <div class="card-icon text-warning">
                                <i class="bi bi-app-indicator text-white"></i>
                            </div>
                            <h6>Active</h6>
                            <h4 th:text="${dashboard.activeTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/task/list?status=PENDING}">
                    <div class="card shadow-sm" style="background: #a8a85aed; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-warning">
                                <i class="bi bi-hourglass-split text-white"></i>
                            </div>
                            <h6>Pending</h6>
                            <h4 th:text="${dashboard.pendingTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">

                <a class="text-decoration-none" th:href="@{/task/list?status=IN_PROGRESS}">
                    <div class="card shadow-sm" style="background: #114773e3; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-warning">
                                <i class="bi bi-activity text-white"></i>
                            </div>
                            <h6>In Progress</h6>
                            <h4 th:text="${dashboard.inProgressTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/task/list?status=COMPLETE}">
                    <div class="card shadow-sm" style="background: #092e00c2; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-warning">
                                <i class="bi bi-check-circle text-white"></i>
                            </div>
                            <h6>Complete</h6>
                            <h4 th:text="${dashboard.completeTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/task/list?status=MISSED}">
                    <div class="card shadow-sm" style="background: #560000b3; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-danger">
                                <i class="bi bi-clock text-white"></i>
                            </div>
                            <h6>Missed</h6>
                            <h4 th:text="${dashboard.missedTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/task/list?status=POSTPONE}">
                    <div class="card shadow-sm" style="background: #083540db; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-danger">
                                <i class="bi bi-arrow-counterclockwise text-white"></i>
                            </div>
                            <h6>Postpone</h6>
                            <h4 th:text="${dashboard.postponeTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="text-decoration-none" th:href="@{/task/list?status=BACKLOG}">
                    <div class="card shadow-sm" style="background: #d8ac1ac7; color: black;">
                        <div class="card-body text-center">
                            <div class="card-icon text-danger">
                                <i class="bi bi-arrow-90deg-left text-black"></i>
                            </div>
                            <h6>Back Log</h6>
                            <h4 th:text="${dashboard.backlogTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <!--TL DASHBOARD CARDS -->
        <div class="row g-3" sec:authorize="hasAnyAuthority('ROLE_TL')">
            <div class="col-md-3">
                <a class="text-decoration-none">
                    <div class="card shadow-sm" style="background: #071754b3; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-primary">
                                <i class="bi bi-people text-white"></i>
                            </div>
                            <h6>Users</h6>
                            <h4 th:text="${dashboard.totalUsers}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="text-decoration-none">
                    <div class="card shadow-sm" style="background: #134653b8; color: white;">
                        <div class="card-body text-center">
                            <div class="card-icon text-success">
                                <i class="bi bi-list-task text-white"></i>
                            </div>
                            <h6>Task</h6>
                            <h4 th:text="${dashboard.totalTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">

                <a class="text-decoration-none">
                    <div class="card shadow-sm" style="background: #4987c4e8; color:white">
                        <div class="card-body text-center">
                            <div class="card-icon text-warning">
                                <i class="bi bi-app-indicator text-white"></i>
                            </div>
                            <h6>Active</h6>
                            <h4 th:text="${dashboard.activeTask}"></h4>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <!-- User Dashboard-->

        <div class="" sec:authorize="hasAnyAuthority('ROLE_USER')" style="display: flex; gap: 20px; overflow-x: scroll;!important">

            <div class="">
                <div class="card" style="height: 720px;width: 340px;background: #d6d3d3; padding: 5px;">
                    <div class="card-header" style="background: #968989;text-align: center;color: #FFFFFF;">
                        <h6>BackLog</h6>
                    </div>

                    <div style="padding: 4px;overflow-y: scroll;">

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title 2</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="height: 720px;width: 340px;background: #adaa76; padding: 5px;overflow-y: scroll;">
                    <div class="card-header" style="background: #7d760d;text-align: center;color: #FFFFFF;">
                        <h6>Pending</h6>
                     </div>

                    <div style="padding: 4px; overflow-y: scroll;">
                        <div>
                            <div th:each="task,taskStat : ${userTask}" style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p th:text="${task.name}" style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;"></p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date :<span th:text="${#dates.format(task.startedAt, 'dd MMM yyyy')}"></span></p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : <span th:text="${#dates.format(task.endedAt, 'dd MMM yyyy')}"></span></p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">

                                    <a class="text-decoration-none" th:href="@{/task/details/{id}(id=${task.id})}" data-toggle="tooltip" data-placement="top" title="View" >
                                        <i class="fa fa-eye bg-success text-white p-2 me-1" aria-hidden="true"></i>
                                    </a>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#handleStatus"  th:data-id="${task.id}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card" style="height: 720px;width: 340px;background: #484b84; padding: 5px;">
                    <div class="card-header" style="background: #171b79;text-align: center;color: #FFFFFF;">
                        <h6>In Progress</h6>
                    </div>


                    <div style="padding: 4px;overflow-y: scroll;">

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title 2</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card" style="height: 720px;width: 340px;background: #518e02; padding: 5px;">
                    <div class="card-header" style="background: #36722c; text-align: center;color: #FFFFFF;">
                        <h6>Complete</h6>
                    </div>

                    <div style="padding: 4px;overflow-y: scroll;">

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col">
                <div class="card" style="height: 720px;width: 340px;background: #804c44; padding: 5px;">
                    <div class="card-header" style="background: #6c3030;text-align: center;color: #FFFFFF;">
                        <h6>Missed</h6>
                    </div>

                    <div style="padding: 4px;overflow-y: scroll;">

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div style="background: #fffcfc; padding: 10px; border: solid, 0px, #d78888; border-radius: 9px; margin-top: 11px;">
                                <p style="font-size: 18px; font-weight: 600; padding: 0px; margin: 0px; text-align: center; margin-bottom: 10px;">Task Title</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #0e6b0e; font-weight: 600;">Assign Date : 12-12-23</p>
                                <p style="padding: 0px; margin: 0px; font-size: 14px; color: #d60a0a; font-weight: 600;">Last Date : 12-12-23</p>
                                <div style="margin-top: 12px; display: flex; justify-content: space-between;">
                                    <button class="btn btn-primary">Details</button>
                                    <button class="btn btn-success">Update</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <!-- SCROLL CONTENT -->
        <div class="mt-5">

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="handleStatus" tabindex="-1">
        <div class="modal-dialog">
            <form id="statusForm" method="post" class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Update Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <!-- hidden ID -->
                    <input type="hidden" name="id" id="taskId">

                    <div class="mb-3">
                        <label class="form-label">Status</label>
                        <select name="status" class="form-select" required>
                            <option value="ACTIVE">ACTIVE</option>
                            <option value="PENDING">PENDING</option>
                            <option value="IN_PROGRESS">IN PROGRESS</option>
                            <option value="COMPLETE">COMPLETE</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>

                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>


    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </footer>

    <script>
        document.getElementById('handleStatus').addEventListener('show.bs.modal', function (event) {

                const button = event.relatedTarget;
                const taskId = button.getAttribute('data-id');

                document.getElementById('taskId').value = taskId;
            });
    </script>


</body>
</html>
